.botao {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff0099;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #b30077;
}